@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pulse-fgColor-onEmphasis: #ffffff;
  --pulse-focus-outlineColor: theme("colors.blue.700");
  --pulse-layout-sidebar-width: 220px;
  --pulse-layout-gutter: 16px;
}

@layer base {
  *:focus-visible {
    outline: 2px solid var(--pulse-focus-outlineColor);
    outline-offset: 2px;
  }
  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    &:focus {
      box-shadow: inset 0 0 0 1px var(--pulse-focus-outlineColor);
      border-color: var(--pulse-focus-outlineColor);
      outline: none;
    }
  }
  [type=checkbox], [type=radio] {
    &:focus {
      outline: 2px solid var(--pulse-focus-outlineColor);
      outline-offset: 2px;
    }
  }
  button, [role=button] {
    &:focus-visible {
      outline: 2px solid var(--pulse-focus-outlineColor);
      outline-offset: -2px;
      box-shadow: none;
    }
  }
}
