= turbo_frame_tag 'modal' do
  = render Pulse::BaseComponent.new(**@system_arguments) do
    - unless auto_close
      div class="flex items-center justify-center min-h-screen p-6 box-border"
        /! bg overlay
        div{ data-modal-target="wrapper" data-action="#{close_on_overlay_click ? 'click->modal#close' : ''}" aria-hidden="true"
          data-transition-enter="ease-out duration-300"
          data-transition-enter-start="opacity-0"
          data-transition-enter-end="opacity-100"
          data-transition-leave="ease-in duration-200"
          data-transition-leave-start="opacity-100"
          data-transition-leave-end="opacity-0"
          class="fixed inset-0 bg-gray-900/75 transition-opacity" }

        /! modal
        div{ data-modal-target="body"
          data-transition-enter="ease-out duration-300"
          data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
          data-transition-leave="ease-in duration-200"
          data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
          data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          class="relative z-50 bg-white shadow-xl rounded-lg transition-all #{modal_classes}"
          role="dialog"
          aria-modal="true"}

          /! header
          div class="flex flex-row-reverse items-center justify-between gap-4 p-4 md:p-5 border-b"
            - if close_button
              button{ class="ms-auto inline-flex items-center justify-center w-10 h-10 bg-transparent border-none text-gray"
                data-action="modal#close"
                aria-label="Close Modal"}

                = render Pulse::Icon.new(icon: :close, width: 16, height: 16)

            - if title?
              = render Pulse::Text.new(type: :h4, el_tag: :h2, classes: 'tracking-tight text-gray truncate')
                = title

          /! body
          div class="p-4 md:p-5 #{'mb-4' unless footer}"
            = content

          /! footer
          - if footer
            div class="flex items-center p-4 md:p-5 border-t border-gray-200"
              = footer
