= turbo_frame_tag 'modal' do
  = render Pulse::BaseComponent.new(**@system_arguments) do
    - unless auto_close
      div class="pulse-flex pulse-items-center pulse-justify-center pulse-min-h-screen pulse-p-6 pulse-box-border"
        /! bg overlay
        div{
          data-modal-target="wrapper" data-action="#{close_on_overlay_click ? 'click->modal#close' : ''}" aria-hidden="true"
          data-transition-enter="pulse-ease-out pulse-duration-300"
          data-transition-enter-start="pulse-opacity-0"
          data-transition-enter-end="pulse-opacity-100"
          data-transition-leave="pulse-ease-in pulse-duration-200"
          data-transition-leave-start="pulse-opacity-100"
          data-transition-leave-end="pulse-opacity-0"
          class="pulse-fixed pulse-inset-0 pulse-bg-gray-900/75 pulse-transition-opacity" }

        /! modal
        div{
          data-modal-target="body"
          data-transition-enter="pulse-ease-out pulse-duration-300"
          data-transition-enter-start="pulse-opacity-0 pulse-translate-y-4 sm:pulse-translate-y-0 sm:pulse-scale-95"
          data-transition-enter-end="pulse-opacity-100 pulse-translate-y-0 sm:pulse-scale-100"
          data-transition-leave="pulse-ease-in pulse-duration-200"
          data-transition-leave-start="pulse-opacity-100 pulse-translate-y-0 sm:pulse-scale-100"
          data-transition-leave-end="pulse-opacity-0 pulse-translate-y-4 sm:pulse-translate-y-0 sm:pulse-scale-95"
          class="pulse-relative pulse-z-50 pulse-bg-white pulse-shadow-xl pulse-rounded-lg pulse-transition-all #{modal_classes}"
          role="dialog"
          aria-modal="true"}

          /! header
          div class="pulse-flex pulse-flex-row-reverse pulse-items-center pulse-justify-between pulse-gap-4 pulse-p-4 md:pulse-p-5 pulse-border-b"
            - if close_button
              button{
                class="pulse-ms-auto pulse-inline-flex pulse-items-center pulse-justify-center pulse-w-10 pulse-h-10 pulse-bg-transparent pulse-border-none pulse-text-gray"
                data-action="modal#close"
                aria-label="Close Modal"}

                = render Pulse::Icon.new(icon: :close, width: 16, height: 16)

            - if title?
              = render Pulse::Text.new(type: :h4, el_tag: :h2, classes: 'pulse-tracking-tight pulse-text-gray pulse-truncate')
                = title

          /! body
          div class="pulse-p-4 md:pulse-p-5 #{'pulse-mb-4' unless footer}"
            = content

          /! footer
          - if footer
            div class="pulse-flex pulse-items-center pulse-p-4 md:pulse-p-5 pulse-border-t pulse-border-gray-200"
              = footer
